@model List<Group>
@{
    ViewData["Title"] = "Group";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Group item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
